<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NovaFormatos.Frontend</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NovaFormatos.Frontend.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    @await RenderSectionAsync("Estilos", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-secondary">
            <div class="container-fluid">
                <a class="navbar-brand text-light" asp-controller="Home" asp-action="Index">Nova</a>
                <button class="navbar-toggler text-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end bg-secondary" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title text-white-50" id="offcanvasNavbarLabel">Nova</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active text-white-50" asp-controller="Home" asp-action="Index">
                                    <span class="oi oi-home"></span>  Inicio
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active text-white-50" asp-controller="Prospectos" asp-action="Index">
                                    <span class="oi oi-grid-three-up"></span>Prospectos
                                </a>
                            </li>
                            @if (User.Identity!.IsAuthenticated && User.IsInRole("Administrador"))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-white-50" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="oi oi-list"></span>  Menu
                                    </a>
                                    <ul class="dropdown-menu bg-success" aria-labelledby="offcanvasNavbarDropdown">
                                        <li><a class="dropdown-item text-white-50" asp-controller="Solicitudes" asp-action="Index"><span class="oi oi-clipboard"></span>  Solicitudes</a></li>
                                        <li><a class="dropdown-item text-white-50" asp-controller="Denuncias" asp-action="Index"><span class="oi oi-book"></span>  Denuncias</a></li>
                                        <li><a class="dropdown-item text-white-50" asp-controller="Login" asp-action="VerBitacora"><span class="oi oi-pencil"></span>  Bitacora</a></li>
                                    </ul>
                                </li>
                            }
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Usuario"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Libros" asp-action="Index">Libros</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Categorias" asp-action="Index">Categorias</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Prestamos" asp-action="Index">Prestamos</a>
                                </li>
                            }
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white-50" asp-area="" asp-controller="Usuarios"
                                       asp-action="Edit"><span class="oi oi-person"></span><strong>  Hola! @User.Identity.Name</strong></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white-50" asp-area="" asp-controller="Login" asp-action="CerrarSesion">
                                        <span class="oi oi-expand-right"></span>  Cerrar Sesión
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white-50" asp-area="" asp-controller="Login" asp-action="IniciarSesion">Iniciar Sesión</a>
                                </li>
                            }

                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Nova Formatos - <a asp-area="" asp-controller="Home" asp-action="Privacy">Aviso de Privacidad</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
